%h2 Whats wrong Mike

%br
%br
- if can? :manage
  = simple_form_for @mike do |f|
    = f.input :issue, label: "Issue"
    %br
    = f.input :complaining, label: "Description"
    %br
    = f.button :submit