%h2 Leos Rant


%table
  %thead
    %tr
      %th Issue
      %th Description
      - if can? :manage, Leo
        %th Options
  %tbody
    %tr 
      %td= @leo.issue
      %td= @leo.complaining
      - if can? :manage, Leo
        %td
          = link_to "Delete", @leo, method: :delete, data: { confirm: "Are you sure you want to remove this request?"}, class: 'tiny alert button'
          = link_to "Edit", edit_leo_path(@leo), class: 'tiny button'