%h2 How it Works

%strong
  Devise
%ul 
  %li config/locales/devise.en.yml
  %li rails g devise:views
  %li app/controllers/application_controller.rb

%strong
  Cancan
%ul
  %li app/models/ability.rb
  %li app/views/layouts/application.html.haml

%strong 
  Rolify
%ul
  %li app/models/user.rb
  %li rails c


